In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats
from matplotlib import pyplot as plt
from matplotlib import ticker
from matplotlib.lines import Line2D

In [2]:
table = pd.read_csv("/Volumes/Shares/SFU/Xiutang/Xiutang-Alex experiments/Project-mtDNA and aging/Aim 2/Aim 2.2/Aim 2.2-1 Quant DRG Punct/results/23-11-20_mtDNA_prediction_quantification/roi_data.csv")
summary = pd.read_csv("/Volumes/Shares/SFU/Xiutang/Xiutang-Alex experiments/Project-mtDNA and aging/Aim 2/Aim 2.2/Aim 2.2-1 Quant DRG Punct/results/23-11-20_mtDNA_prediction_quantification/summary_data.csv")
outputpath = "/Volumes/Shares/SFU/Xiutang/Xiutang-Alex experiments/Project-mtDNA and aging/Aim 2/Aim 2.2/Aim 2.2-1 Quant DRG Punct/results/23-11-20_mtDNA_prediction_quantification"
keyword = "mtDNA"
aggtype = "median"
table.head()

,Source,RoiType,Area,Mean,Min,Max,Circ.,IntDen,Median,RawIntDen,AR,Round,Solidity
0,221114mtDNA-and-Tom20_Aged_Image8,punctate,0.712,69.378,18,122,0.872,49.404,72,11378.0,1.207,0.829,0.921
1,221114mtDNA-and-Tom20_Aged_Image8,punctate,0.061,31.143,23,43,0.993,1.893,31,436.0,1.371,0.729,0.848
2,221114mtDNA-and-Tom20_Aged_Image8,punctate,0.182,49.143,15,103,0.951,8.962,45,2064.0,1.164,0.859,0.884
3,221114mtDNA-and-Tom20_Aged_Image8,punctate,0.130,42.033,18,70,0.877,5.475,44,1261.0,1.180,0.848,0.845
4,221114mtDNA-and-Tom20_Aged_Image8,punctate,0.148,35.324,13,57,0.919,5.215,36,1201.0,1.391,0.719,0.883

In [3]:
summary.head()

,Source,RoiType,Slice,Count,Total Area,Average Size,%Area,Mean,Circ.,Solidity,IntDen,Median,nuclearArea,somaArea
0,221114mtDNA-and-Tom20_Aged_Image8,punctate,NaN,24,9.327,0.389,0.902,50.328,0.837,0.868,23.456,50.625,0.252,375.221
1,221114mtDNA-and-Tom20_Aged_Image8,diffuse,NaN,13,2.735,0.210,0.265,48.813,0.581,0.705,12.360,48.923,0.252,375.221
2,230731mtDNA-with-TFAM_Aged_Image14-2,punctate,NaN,400,36.232,0.091,3.067,71.770,0.872,0.884,7.218,66.725,0.466,511.971
3,230731mtDNA-with-TFAM_Aged_Image14-2,diffuse,NaN,160,29.869,0.187,2.529,46.195,0.612,0.771,8.058,44.119,0.466,511.971
4,221114mtDNA-and-Tom20_Young_Image6,punctate,NaN,474,63.984,0.135,1.474,69.106,0.923,0.885,10.534,57.266,2.358,2284.948

In [4]:
table_edits = table.copy()
table_edits['Group'] = table['Source'].str.split("_").str[1]
table_edits['Date'] = table['Source'].str.split('m').str[0]
print(f"Table shape {table_edits.shape}")
table_edits.head()

Table shape (23691, 15)

,Source,RoiType,Area,Mean,Min,Max,Circ.,IntDen,Median,RawIntDen,AR,Round,Solidity,Group,Date
0,221114mtDNA-and-Tom20_Aged_Image8,punctate,0.712,69.378,18,122,0.872,49.404,72,11378.0,1.207,0.829,0.921,Aged,221114
1,221114mtDNA-and-Tom20_Aged_Image8,punctate,0.061,31.143,23,43,0.993,1.893,31,436.0,1.371,0.729,0.848,Aged,221114
2,221114mtDNA-and-Tom20_Aged_Image8,punctate,0.182,49.143,15,103,0.951,8.962,45,2064.0,1.164,0.859,0.884,Aged,221114
3,221114mtDNA-and-Tom20_Aged_Image8,punctate,0.130,42.033,18,70,0.877,5.475,44,1261.0,1.180,0.848,0.845,Aged,221114
4,221114mtDNA-and-Tom20_Aged_Image8,punctate,0.148,35.324,13,57,0.919,5.215,36,1201.0,1.391,0.719,0.883,Aged,221114

In [5]:
summary_edits = summary.copy()
summary_edits['Group'] = summary['Source'].str.split('_').str[1]
summary_edits['Date'] = summary['Source'].str.split('m').str[0]
print(f"Summary shape {summary_edits.shape}")
summary_edits.head()

Summary shape (128, 16)

,Source,RoiType,Slice,Count,Total Area,Average Size,%Area,Mean,Circ.,Solidity,IntDen,Median,nuclearArea,somaArea,Group,Date
0,221114mtDNA-and-Tom20_Aged_Image8,punctate,NaN,24,9.327,0.389,0.902,50.328,0.837,0.868,23.456,50.625,0.252,375.221,Aged,221114
1,221114mtDNA-and-Tom20_Aged_Image8,diffuse,NaN,13,2.735,0.210,0.265,48.813,0.581,0.705,12.360,48.923,0.252,375.221,Aged,221114
2,230731mtDNA-with-TFAM_Aged_Image14-2,punctate,NaN,400,36.232,0.091,3.067,71.770,0.872,0.884,7.218,66.725,0.466,511.971,Aged,230731
3,230731mtDNA-with-TFAM_Aged_Image14-2,diffuse,NaN,160,29.869,0.187,2.529,46.195,0.612,0.771,8.058,44.119,0.466,511.971,Aged,230731
4,221114mtDNA-and-Tom20_Young_Image6,punctate,NaN,474,63.984,0.135,1.474,69.106,0.923,0.885,10.534,57.266,2.358,2284.948,Young,221114

In [6]:
def remove_outliers_by_cell(df):
    new_dfs = []
    for source in df["Source"].unique():
        for rt in df["RoiType"].unique():
            source_df = df[(df["Source"] == source) & (df["RoiType"] == rt)]
            for metric in ["Area", "Mean", "Min", "Max", "Circ.", "IntDen", "Median", "RawIntDen", "AR", "Round", "Solidity"]:
                metric_list = source_df[metric]
                p1, p99 = np.mean(metric_list) - 3 * np.std(metric_list), np.mean(metric_list) + 3 * np.std(metric_list)
                source_df[(source_df[metric] <= p1) & (source_df[metric] >= p99)].loc[:,metric] = np.nan
            new_dfs.append(source_df)
    return pd.concat(new_dfs)

def remove_outliers_as_dataset(df):
    new = df.copy()
    for metric in ["Area", "Mean", "Min", "Max", "Circ.", "IntDen", "Median", "RawIntDen", "AR", "Round", "Solidity"]:
        metric_list = df[metric]
        p1, p99 = np.percentile(metric_list, (1, 99))
        new[metric].where(new[metric].between(p1, p99), inplace=True)
        # new[(new[metric] <= p1) & (new[metric] >= p99)].loc[:,metric] = np.nan
    return new

In [7]:
# no_outlier = remove_outliers_by_cell(table_edits)
no_outlier = remove_outliers_as_dataset(table_edits)
# no_outlier = table_edits[table_edits["Area"] <= 50]
# no_outlier = table_edits
print(no_outlier.isna().sum())
no_outlier_for_count = no_outlier.dropna(subset=no_outlier.columns.values)
print(no_outlier_for_count.isna().sum())

Source         0
RoiType        0
Area         389
Mean         474
Min          196
Max          230
Circ.        235
IntDen       474
Median       443
RawIntDen    474
AR           469
Round        474
Solidity     454
Group          0
Date           0
dtype: int64
Source       0
RoiType      0
Area         0
Mean         0
Min          0
Max          0
Circ.        0
IntDen       0
Median       0
RawIntDen    0
AR           0
Round        0
Solidity     0
Group        0
Date         0
dtype: int64

In [8]:
no_outlier = no_outlier[["Source", "Date", "Group", "RoiType", "Area", "Mean", "Min", "Max",
                            "Circ.", "IntDen", "Median", "RawIntDen", "AR", "Round", "Solidity"]]
no_outlier_for_count = no_outlier_for_count[["Source", "Date", "Group", "RoiType", "Area", "Mean", "Min", "Max",
                                             "Circ.", "IntDen", "Median", "RawIntDen", "AR", "Round", "Solidity"]]

In [9]:
cell_dict = {}
for header in no_outlier.columns:
    if header == "Source" or header == "RoiType" or header == "Group":
        continue
    elif header == "Date":
        cell_dict[header] = "first"
    else:
        cell_dict[header] = "count"

cell_means = no_outlier.groupby(["Source","RoiType","Group"]).agg(cell_dict)
cell_means = cell_means.reset_index()

roi_count_df = no_outlier_for_count.groupby(["Source", "RoiType", "Group"]).agg({"Mean": "count", "Area": "sum"})
roi_count_df = roi_count_df.reset_index()

cell_means['oNRois'] = roi_count_df.loc[:,"Mean"]
cell_means['oTotalArea'] = roi_count_df.loc[:, "Area"]
cell_means = cell_means[['Source', 'Group', 'RoiType', 'Date', 'oTotalArea', 'oNRois']]
print(cell_means.head())

                               Source Group   RoiType    Date  oTotalArea  \
0  221114mtDNA-and-Tom20_Aged_Image23  Aged   diffuse  221114       4.034
1  221114mtDNA-and-Tom20_Aged_Image23  Aged  punctate  221114       7.955
2  221114mtDNA-and-Tom20_Aged_Image25  Aged   diffuse  221114       3.551
3  221114mtDNA-and-Tom20_Aged_Image25  Aged  punctate  221114       5.315
4   221114mtDNA-and-Tom20_Aged_Image8  Aged   diffuse  221114       1.111

   oNRois
0    28.0
1    80.0
2    18.0
3    43.0
4     8.0

In [10]:
cell_means = cell_means.merge(summary_edits[['Source', 'RoiType', 'nuclearArea', 'somaArea']], how='left', on=['Source', 'RoiType'])
cell_means.head()

,Source,Group,RoiType,Date,oTotalArea,oNRois,nuclearArea,somaArea
0,221114mtDNA-and-Tom20_Aged_Image23,Aged,diffuse,221114,4.034,28.0,0.386,475.438
1,221114mtDNA-and-Tom20_Aged_Image23,Aged,punctate,221114,7.955,80.0,0.386,475.438
2,221114mtDNA-and-Tom20_Aged_Image25,Aged,diffuse,221114,3.551,18.0,1.034,465.453
3,221114mtDNA-and-Tom20_Aged_Image25,Aged,punctate,221114,5.315,43.0,1.034,465.453
4,221114mtDNA-and-Tom20_Aged_Image8,Aged,diffuse,221114,1.111,8.0,0.252,375.221

In [11]:
cell_means['RoiDensity'] = cell_means['oNRois'] / cell_means['somaArea']
cell_means['AreaDensity'] = cell_means['oTotalArea'] / cell_means['somaArea']

In [12]:
rep_dict = {}
for header in cell_means.columns:
    if header == "Date" or header == "RoiType" or header == "Group":
        continue
    elif header == "Source":
        rep_dict[header] = "first"
    else:
        rep_dict[header] = aggtype

rep_means = cell_means.groupby(["Date", "RoiType","Group"]).agg(rep_dict)
rep_means = rep_means.reset_index()
rep_means.head()

,Date,RoiType,Group,Source,oTotalArea,oNRois,nuclearArea,somaArea,RoiDensity,AreaDensity
0,221114,diffuse,Aged,221114mtDNA-and-Tom20_Aged_Image23,2.3310,13.0,0.564,420.3370,0.029996,0.005295
1,221114,diffuse,Young,221114mtDNA-and-Tom20_Young_Image18,7.8765,90.0,33.896,1258.8095,0.041455,0.003752
2,221114,punctate,Aged,221114mtDNA-and-Tom20_Aged_Image23,4.9855,48.5,0.564,420.3370,0.130325,0.014075
3,221114,punctate,Young,221114mtDNA-and-Tom20_Young_Image18,2.3205,30.5,33.896,1258.8095,0.048446,0.003568
4,221207,diffuse,Aged,221207mtDNA-and-Tom20_Aged_Image11,9.6080,152.0,0.371,444.7630,0.252323,0.018918

In [13]:
punctate_means = cell_means[cell_means["RoiType"] == 'punctate']
punctate_reps = rep_means[rep_means["RoiType"] == 'punctate']

diffuse_means = cell_means[cell_means["RoiType"] == 'diffuse']
diffuse_reps = rep_means[rep_means["RoiType"] == 'diffuse']

In [14]:
rep_pvalues = {}
for key, value in rep_dict.items():
    if value == "first":
       continue 
    pYoung = punctate_reps[punctate_reps["Group"] == 'Young'][key]
    pAged = punctate_reps[punctate_reps["Group"] == 'Aged'][key]
    pP = stats.kruskal(pYoung, pAged)[1]

    dYoung = diffuse_reps[diffuse_reps["Group"] == 'Young'][key]
    dAged = diffuse_reps[diffuse_reps["Group"] == 'Aged'][key]
    dP = stats.kruskal(dYoung, dAged)[1]

    pP, dP = round(pP, 3), round(dP, 3)
    rep_pvalues[key] = (pP, dP)

In [15]:
rep_pvalues

{'oTotalArea': (0.221, 0.806),
 'oNRois': (0.462, 0.389),
 'nuclearArea': (0.221, 0.221),
 'somaArea': (0.05, 0.05),
 'RoiDensity': (0.221, 0.462),
 'AreaDensity': (0.221, 1.0)}

In [16]:
def plot_y(punctate_dfs, diffuse_dfs, pDict, yMetric, outpath, log=False):    
    hue_order = sorted(table_edits['Date'].unique()[::-1])
    fig = plt.figure(figsize = (12, 5))

    ax1 = fig.add_subplot(1, 2, 1)
    ax2 = fig.add_subplot(1, 2, 2)

    punctate_means, punctate_reps = punctate_dfs[0], punctate_dfs[1]
    diffuse_means, diffuse_reps = diffuse_dfs[0], diffuse_dfs[1]

    tempymin = min(diffuse_means[yMetric].min(), punctate_means[yMetric].min())
    tempymax = max(diffuse_means[yMetric].max(), punctate_means[yMetric].max())

    gOrder = ["Young", "Aged"]
    sns.swarmplot(data=punctate_means, x="Group", y=yMetric, order=gOrder, hue="Date", hue_order=hue_order, alpha=0.7, size=5, linewidth=1, ax=ax1, legend=False)
    sns.swarmplot(data=punctate_reps, x="Group", y=yMetric, order=gOrder, hue="Date", hue_order=hue_order, size=10, linewidth=1, ax=ax1, legend=False)
    # Setting log scale and getting maximum value
    ax1.set_yscale('log', base=10)
    if tempymax < 1:
        ymax = tempymax * 1.35
    elif tempymax > 1:
        ymax = tempymax * 1.35
    else:
        ymax = 1.25
    ax1.set_ylim((tempymin * 0.8, ymax))
    ax1.set_xlim(left=-0.5, right=1.5)
    ax1.set_xticks([0, 1])
    ax1.set_xticklabels(gOrder)
    # new_ticks = np.geomspace(tempymin, ymax, num=3)
    # ax1.set_yticks(new_ticks)
    # ax1.set_yticklabels(new_ticks)
    ax1.set_title("Punctate")

    sns.swarmplot(data=diffuse_means, x="Group", y=yMetric, order=gOrder, hue="Date", hue_order=hue_order, alpha=0.7, size=5, linewidth=1, ax=ax2, legend=False)
    sns.swarmplot(data=diffuse_reps, x="Group", y=yMetric, order=gOrder, hue="Date", hue_order=hue_order, size=10, linewidth=1, ax=ax2, legend=False)
    # Setting log scale
    ax2.set_yscale('log', base=10)
    ax2.set_ylim(ax1.get_ylim())
    ax2.tick_params(labelleft=False)
    ax2.set_ylabel("")
    # Axis formatting
    ax2.set_xlim(left=-0.5, right=1.5)
    ax2.set_xticks([0, 1])
    ax2.set_xticklabels(gOrder)
    ax2.legend(hue_order, title="Rep")
    ax2.set_title("Diffuse")

    markers = [ Line2D(range(1), range(1), linewidth=0, marker='o', markersize=5, markerfacecolor='#e4e4e4', markeredgecolor="gray"),
               Line2D(range(1), range(1), linewidth=0, marker='o', markersize=10, markerfacecolor='#e4e4e4', markeredgecolor="gray"),]
    lgnd = ax2.legend(markers, [f"Single Cell All-ROI {aggtype}", 
                                f"Single Rep All-ROI {aggtype}"])

    # lgnd.get_patches()[0].set(facecolor="#e4e4e4", edgecolor='gray', radius=1.5)
    # lgnd.get_patches()[1].set(facecolor="#e4e4e4", edgecolor='gray', radius=5)
    # lgnd.get_patches()[2].set(facecolor="#e4e4e4", edgecolor='gray', radius=20)
    sns.move_legend(ax2, "upper right", bbox_to_anchor=(1.6, 1))

    # Graphing p-values
    ymax2 = tempymax * 1.1
    ax1.plot([0, 1], [ymax2, ymax2], c = 'k')
    ax2.plot([0, 1], [ymax2, ymax2], c = 'k')
    pP, dP = pDict[yMetric][0], pDict[yMetric][1]
    ax1.text(0.5, ymax2, f"P = {pP}", ha="center", va="bottom", c='k')
    ax2.text(0.5, ymax2, f"P = {dP}", ha="center", va="bottom", c='k')

    plt.subplots_adjust(wspace=0.05)
    plt.tight_layout()
    plt.savefig(os.path.join(outpath, f"{keyword}_Cell-{yMetric}_{aggtype}agg.png"))
    plt.close()

In [17]:
plt.style.use("ggplot")
plt.rcParams['axes.facecolor']='#e4e4e4'

pDfs = (punctate_means, punctate_reps)
dDfs = (diffuse_means, diffuse_reps)

for key, value in rep_dict.items():
   if value == "first":
       continue 
   #this_log = True if key in ["Area", "Median", "Min", "Solidity", "IntDen"] else False
   plot_y(pDfs, dDfs, rep_pvalues, key, outputpath, log=True)

/Users/sathlerar/.conda/envs/datavis/lib/python3.11/site-packages/seaborn/categorical.py:3544: UserWarning: 25.0% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)
/Users/sathlerar/.conda/envs/datavis/lib/python3.11/site-packages/seaborn/categorical.py:3544: UserWarning: 25.0% of the points cannot be placed; you may want to decrease the size of the markers or use stripplot.
  warnings.warn(msg, UserWarning)